@import url('~/platform.css');

Page {
	background-color: #FAFAFA;
	background-image: res://fundo;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	font-size: 17;
	color: #FAFAFA;
	padding: 10
}

TextField {
	margin: 10;
	padding: 10;
	color: #FAFAFA;
}

Image {
	padding: 20;
	width: 200;
	height: 150;
	text-align: center;
	horizontal-align: center;
}

.btn-linkedin {
	margin: 10;
	padding: 10;
	border-color: #287bbc;
	background-color: #287bbc;
	font-weight: bold;
}

.btn-login, .btn-cadastro {
	margin: 10;
	padding: 10;
	width: 120;
	background-color: transparent;
	border-width: 1;
	border-style: solid;
	border-color: #FAFAFA;
	border-radius: 2;
	font-weight: bold;
}

.btn-login {
	horizontal-align: left;
}

.btn-cadastro {
	horizontal-align: right;
}

.btn-prosseguir{
	margin: 10;
	padding: 10;
	border-color: #CDCDCD;
	background-color: #FAFAFA;
	color: #010101;
	font-weight: bold;
}

.cadastro-etapa1-bg {
	background-color: #FAFAFA;
	background-image: res://fundo;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	font-size: 17;
	color: #FAFAFA;
	padding: 10
}

.cadastro-etapa1-bg-2 {
	background-color: #FAFAFA;
	background-position: center center;
	background-size: cover;
	font-size: 17;
	color: #FAFAFA;
	padding: 10
}

.logo-periodico {
	margin: 30;
	width: 50px;
	height: 50px;
}

.label-cadastro-etapa1 {
	margin: 20;
}