@import url('~/platform.css');

Page {
	background-color: #FAFAFA;
	background-image: res://fundo;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	font-size: 17;
	color: #FAFAFA;
	padding: 10
}

TextField {
	margin: 10;
	padding: 10;
	color: #FAFAFA;
}

Image {
	/*margin-top: 20;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 80;*/
	padding: 20;
	width: 200;
	height: 150;
	text-align: center;
	horizontal-align: center;
}

.btn-linkedin {
	margin: 10;
	padding: 10;
}

.btn-login, .btn-cadastro {
	margin: 10;
	padding: 10;
	width: 120;
	background-color: transparent;
	border-width: 1;
	border-style: solid;
	border-color: #FAFAFA;
	border-radius: 2;
	font-weight: bold;
}

.btn-login {
	horizontal-align: left;
}

.btn-cadastro {
	horizontal-align: right;
}